<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<context-param>
		<!-- Default locale - overrides HTTP "Accept-Language". -->
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>en</param-value>
	</context-param>

	<context-param>
		<!-- Fallback locale - when a supported locale has not been found. -->
		<param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
		<param-value>en</param-value>
	</context-param>

	<servlet>
		<servlet-name>DocumentServlet</servlet-name>
		<servlet-class>test.view.office.DocumentServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>DocumentServlet</servlet-name>
		<url-pattern>/document/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
